# Virtual environment
venv_mlops/
__pycache__/
*.pyc

# Logs
logs/

# Data (handled by DVC)
data/

# Pipeline outputs (handled by DVC)
models/
reports/

# DVC storage (cache / remote)
dvc_storage/

# Registry metadata
registry/*.txt
registry/*.json
